{% if include.pane.background_video %}
<div class="video-bg">
	<div id="video-{{ include.pane.background_video }}" class="video-bg-embed" data-videourl="{{ include.pane.background_video }}"></div>
</div>
{% endif %}
{% if include.pane.responsive_background_video %}
<div class="video-bg video-bg-vertical">
	<div id="video-{{ include.pane.responsive_background_video }}" class="video-bg-embed" data-videourl="{{ include.pane.responsive_background_video }}"></div>
</div>
{% endif %}
<div class="container container-{{include.pane.attributes.id}} container-{{include.pane.attributes.containerClasses | join: ' container-'}} container-bg-{{include.pane.background}}">
	<div class="row">
		<div class="col-12">
			{% if include.pane.title or include.pane.header_content %}
				{% unless include.pane.hide_title %}
				<header class="pane-header">
					{% if include.pane.attributes.id == 'hero' %}
						<h1 class="pane-title site-title">
							<img src="media/logo-o.svg" alt="outright">
						</h1>
					{% else %}
						<h1 class="pane-title">
						  {{include.pane.title}}
						  {% if include.pane.attributes.id == 'about' %}
						    <!-- <img src="{{site.baseurl}}/media/scribble-line-alt.gif" class="scribble"> -->
							<img src="{{site.baseurl}}/media/scribble-circle.gif" class="scribble">
							<div>
								<img src="{{site.baseurl}}/media/outright-arrow.png" class="arrow">
								<a href="./team"><img src="{{site.baseurl}}/media/meet-the-team.png" class="meet-the-team"></a>
							</div>
						  {% endif %}
						  {% if include.pane.attributes.id == 'services' %}
						    <img src="{{site.baseurl}}/media/scribble-circle.gif" class="scribble">
						  {% endif %}
						  {% if include.pane.attributes.id == 'contact' %}
						    <img src="{{site.baseurl}}/media/scribble-line.gif" class="scribble">
						  {% endif %}
						</h1>
						{% if include.pane.header_content %}
							<div class="pane-header-content">
								{{ include.pane.header_content }}
							</div>
						{% endif %}
					{% endif %}
				</header>
				{% endunless %}
			{% endif %}
			<div class="pane-content">
				{{include.pane.content}}
			</div>
		</div>
	</div>
	{% if include.pane.attributes.id == 'contactform' %}
		{% include spinner.html text='Send it!'  classes="spinner-contact spinner-contactform" %}
	{% endif %}
	{% if include.pane.attributes.id == 'contact' %}
		{% include spinner.html text='Say hey!'  classes="spinner-contact spinner-contactmain" %}
	{% endif %}
	{% if include.pane.attributes.id == 'clientscover' %}
		{% include spinner.html text=''  classes="spinner-clients spinner-clientscover" %}
	{% endif %}
	<!-- {% if include.pane.attributes.id == 'about' %}
		{% include spinner.html text=''  id="spinner-about" %}
	{% endif %} -->
</div>