<section 
	class="pane pane-bg-{{include.pane.background}} pane-{{include.pane.collection}}{% if include.pane.attributes.autoheight %} fp-auto-height{% endif %}{% if include.pane.attributes.autoheight_responsive %} fp-auto-height-responsive{% endif %}" 
	id="pane-{{include.pane.attributes.id}}" 
	data-anchor="{{include.pane.attributes.id}}"
	data-waypoint="{{include.pane.waypoint}}" 
	data-bg="{{include.pane.background}}"
	{% if include.pane.background_image %}style="background-image:url('media/{{include.pane.background_image}}'){% endif %}">
	{% if include.pane.attributes.id == 'contact' or include.pane.attributes.id == 'clientscover' %}<div class="wipe-container">{% endif %}
	{% if include.pane.attributes.id == 'contact' %}
		{% assign contactform = site.panes | where:"attributes.id", "contactform" | first %}
		{% include pane_inner.html pane=contactform %}
	{% endif %}

	{% if include.pane.attributes.id == 'clientscover' %}
		{% assign clients = site.panes | where:"attributes.id", "clients" | first %}
		{% include pane_inner.html pane=clients %}
	{% endif %}

	{% include pane_inner.html pane=include.pane %}
	
	
	{% if include.pane.attributes.id == 'contact' %}
	  <div class="o-wrapper">
			<div class="o-outer"></div>
		</div>
	</div>
	{% endif %}
</section>