<header id="page-utility">
	<div class="page-utility-component page-utility-upper page-utility-left">
		<div id="site-branding">
			<a href="#hero">
				{% include title_logo.html %}
			</a>
		</div>
	</div>
	<div class="page-utility-component page-utility-upper page-utility-right">
		<div id="bug-site-contact">
			<a href="#contact"><img src="{{site.baseurl}}/media/bug-contact-outer.svg" class="bug-contact-img"></a>
		</div>
	</div>
	<div class="page-utility-component page-utility-lower page-utility-left" id="site-nav">
		<div id="site-nav-waypoint"></div>
	</div>
	<div class="page-utility-component page-utility-lower page-utility-left" id="site-terms">
		<p><a href="./terms" target="_blank">Privacy Policy</a><br><br>
			&copy; Outright 2023<br><br>
		<a href="https://www.designrush.com/agency/logo-branding/washington-dc" target="_blank">DesignRush</a></p>
	</div>
	<div class="page-utility-component page-utility-lower page-utility-center" id="intro-read-more">
		<h2 class="site-headline">
			<span>
				<img src="{{site.baseurl}}/media/scribble-circle.gif" class="scribble">
			  Elevated creative for modern brands
			</span>
			<img src="{{site.baseurl}}/media/icon-chevron-down.svg">
		</h2>
		
	</div>
	<div class="page-utility-component page-utility-upper page-utility-right">
		<div id="contactform-close">
			<img src="{{site.baseurl}}/media/icon-x.svg">
		</div>
	</div>
</header>