// $cursorDefault: url("../assets/cursor.svg"), auto;
// $cursorActive: url("../assets/cursor-active.svg"), auto;

@import "../_color.scss";
@import "../_typography.scss";

#page-brand-guide {
  // cursor: $cursorDefault;
  #page-utility {
    z-index: 101;
    a {
      // cursor: $cursorActive;
    }
  }
  .pane-overlay {
    @extend .active;
    background-color: rgba($grayDark, 0.8) !important;
    .overlay-content {
      // &:hover {
      //   background:$dark;
      //   h1 {
      //     color:$chartreuse;
      //   }
      // }
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 500px;
      background: $chartreuse;
      padding: em(200) em(60) em(68.75);
      box-shadow: 8px 24px 10px rgba($grayDark, 0.3);
      transition: all 0.33s ease-in-out;
      h1 {
        font: 600 em(80) $fontAlt;
        line-height: 1.225em;
        letter-spacing: -1.6px;
        color: $dark;
        text-transform: uppercase;
        @media screen and (max-width: 500px) {
          font-size: em(60);
        }
      }
      .btn {
        &:hover {
          background: $light;
          color: $dark;
        }
        // cursor: url("../assets/cursor.svg"), auto;
        transition: all 0.33s ease-in-out;
        background: $dark;
        color: $light;
        border-radius: 0;
        margin-top: 0.666em;
        text-transform: none;
        padding: em(10) em(30);
        cursor: pointer;
        font-size: 1.2em;
      }
    }
  }
}

.pane-brand-guide {
  .pane-content {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    min-height: 100dvh;
  }
  .section-bg {
    &.section-bg-narrow {
      width: 50%;
    }
    width: 100%;
    flex: none;
    min-height: 33.333%;
    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
