.card-vote,
.card-zoom,
.card-video {
  margin-bottom: 30px;
  position: relative;
}

.card-video {
  margin-bottom: 60px;
  .video {
    margin-bottom: 1em;
  }
}

.card-zoom {
  &:hover {
    .card-zoom-bg {
      // opacity:0;
      // &.bg-alt {
      // 	opacity:1;
      // }
      transform: scale(1.01);
    }
    h2 {
      @include textAlt;
      a {
        color: $dark;
        .icon-download {
          display: none;
        }
        .icon-download-alt {
          display: inline-block;
        }
      }
    }
  }
  &,
  a {
    // cursor:$cursorActive;
  }
  .card-zoom-bg {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.25s;
    // &.bg-alt {
    // 	opacity:0;
    // 	position:absolute;
    // }
  }
  h2 {
    text-align: left;
    font-size: em(1.5);
    a {
      color: $white;
      img {
        height: 0.666em;
        width: auto;
        margin-left: 0.5em;
      }
      .icon-download {
        display: inline-block;
      }
      .icon-download-alt {
        display: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
