.ClientWorkPage {
  .ClientWorkHero {
    img {
      height: auto;
      width: 100%;
    }
  }

  .ClientWorkHeroHeader {
    padding: em(80) em(250);
    h5 {
      color: $grayLight;
      margin-bottom: em(30);
    }
    h3 {
      margin-bottom: em(25);
    }

    .project-tags {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: em(10);
      .tag-pill {
        border-radius: em(200);
        border: 3px solid #000;
        padding: em(7) em(16);
        font-weight: 700;
      }
    }
  }

  .ClientMainHeadline {
    .main-headline-text {
      padding: 0px 250px;
      font-size: em(60);
      font-weight: 700;
      line-height: 120%;
    }
  }

  .ClientWorkBento {
    padding: 100px 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 0.2fr;
    gap: 10px;
    width: 100%;
    height: auto;

    img {
      height: auto;
      width: 100%;
    }

    .top {
      grid-column: span 2;
      grid-row: span 1;
    }
    .bottom-left {
      grid-column: span 1;
      grid-row: span 2;
    }
    .bottom-right {
      grid-column: span 1;
      grid-row: span 2;
    }
  }
}
