$work-page-padding: 100px 250px;
$work-page-padding-no-top: 0px 250px 100px 250px;

.ClientWorkPage {
  overflow-y: auto !important;
  scroll-behavior: auto !important;
  height: 100vh; /* Full viewport height for each pane */
  width: 100%;
  overflow-y: scroll; /* Allow scrolling within the container */
  overflow-x: hidden;
  .ClientWorkHero {
    img {
      height: auto;
      width: 100%;
    }
  }
  .work-page-content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
    .ClientWorkHeroHeader {
      //padding: $work-page-padding;
      padding: 100px 0;
      h5 {
        color: $grayLight;
        margin-bottom: em(30);
      }
      h3 {
        margin-bottom: em(25);
      }

      .project-tags {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: em(10);

        .tag-pill {
          border-radius: em(200);
          border: 3px solid #000;
          padding: em(7) em(16);
          font-weight: 700;
        }
      }
    }
    .ClientMainHeadline {
      .main-headline-text {
        padding-bottom: 100px;
        font-size: em(60);
        font-weight: 700;
        line-height: 120%;
      }
    }
    .ClientWorkBento {
      padding-bottom: 100px;
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr; /* Defines two equal columns */
      grid-template-rows: auto auto;
      grid-template-areas:
        "top top"
        "bottom-left bottom-right";
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }

      .top,
      .bottom-left,
      .bottom-right {
        border-radius: 30px;
        overflow: hidden;
      }

      .top {
        grid-area: top;
      }

      .bottom-left {
        grid-area: bottom-left;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .bottom-right {
        grid-area: bottom-right;
        gap: 10px;
        display: grid;
      }
    }
    .ClientQuote {
      display: flex;
      padding-bottom: 100px;
      margin: auto;
      min-width: 450px;
      align-items: flex-start;
      width: 100%;
      justify-content: space-between;

      .open-quotation,
      .close-quotation {
        font-size: em(128);
        font-family: $fontSans;
      }

      .open-quotation {
        transform: rotateZ(180deg);
        margin-top: 0.45em;
      }

      .quote-body {
        width: 100%;
        justify-self: center;
        margin: 0 auto;
        padding: 0 1em;
        h2 {
          font-weight: 700;
          padding-bottom: 1.5rem;
          line-height: 120%;
          width: 100%;
          text-wrap: pretty;
        }
        small {
          font-size: em(20);
        }
      }

      .close-quotation {
        margin-top: -2rem;
      }
    }
    .ClientSpotlight {
      padding: 100px 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    .ClientProjectOverview {
      padding-bottom: 100px;
      font-size: em(32);
      line-height: 140%;

      .awards-section {
        margin-top: 3.5rem;
        color: $grayLight;
        gap: em(10);
        h3 {
          display: block;
          margin-bottom: 2rem;
        }

        .awards {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          .award-name {
            border-radius: em(200);
            border: 3px solid $grayLight;
            padding: em(7) em(16);
            font-weight: 700;
            width: fit-content;
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
    .PrevNextBottomNav {
      width: 100%;
      height: auto;
      min-width: 450px;
      padding-bottom: 100px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      flex-direction: row;

      a {
        font-family: $fontAlt;
        font-size: em(36);
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $black;
        font-weight: 700;
        text-transform: uppercase;
        //text-align: right;
        text-align: center;
        transition: background-image 100ms ease-in;
        padding-bottom: 1.25em;
        line-height: 1em;

        &:hover {
          background-image: url("../../assets/scribble-line.gif");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: bottom 55% right 10%;
          text-decoration: none;
        }
      }
    }
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
      .ClientMainHeadline {
        .main-headline-text {
          font-size: em(40);
        }
      }
      .ClientProjectOverview {
        font-size: em(22);
      }
      .PrevNextBottomNav a {
        font-size: em(16);
        justify-content: center;
        text-align: center;
      }
      .PrevNextBottomNav {
        .prev-btn {
          img {
            width: 3rem;
            height: auto;
          }
        }
        .next-btn {
          img {
            width: 4rem;
            height: auto;
          }
        }
      }
    }
    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
      .ClientQuote {
        .quote-body {
          .quote-text {
            font-size: em(22);
          }
          small {
            font-size: em(18);
          }
        }
        .open-quotation, .close-quotation {
            font-size: em(80);
        }
        .close-quotation {
            margin-top: -1.2rem;
        }
      }
    }
  }

  .ClientFullWidthImg {
    img {
      width: 100%;
      height: auto;
    }
  }
}
