#pane-contact {
  .row {
    .col-12 {
      margin: auto;
      max-width: 1250px;
      padding-bottom: 200px;
      .pane-header {
        .pane-title {
          padding-top: 0;
        }
      }
      .contact-title {
        line-height: .9;
      }
      .ContactPane {
        background: $white !important;
        width: 100% !important;
        margin-top: -1em;
        position: relative;
        //padding: 0px 165px !important;

        .pane-content {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
          //margin-right: -15px;
          //margin-left: -15px;
        }
        li {
          color: $black;
          padding-right: 1em;
          flex: 0 0 25%;
          max-width: 25%;
          a {
            color: $black;
          }
          h2 {
            font-family: "NB International Pro", "Arial", sans-serif;
            line-height: 1.5em;
            color: #000;
            text-transform: uppercase;
            font-size: 1.15rem !important;
          }
        }
      }
      .contact-scribble {
        width: 35%;
        display: block;
        margin-top: -0.5em;
        margin-left: -0.5em;
      }

      @media screen and (max-width: 1200px) {
        .ContactPane {
          li {
            p {
              font-size: 16px;
            }
          }
        }
      }
      @media screen and (max-width: 960px) {
        .ContactPane {
          li {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
      @media screen and (max-width: 480px) {
        .ContactPane {
          li {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
