@import "../_variables.scss";

.HeroPane {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .scrollImage {
    width: 100%; /* Or any size you prefer */
    position: absolute;
    top: 30%;
    left: 0;
    transition: transform 0.1s ease-out; /* Smooth transition effect */

    .hero-o {
      animation: dropIn 1s ease-out; /* Animation duration and easing */
      animation-fill-mode: forwards; /* Ensure the animation stays at its final state */
    }

    @keyframes dropIn {
      0% {
        transform: translateY(-100vh); /* Start from above the viewport */
        opacity: 0; /* Start invisible */
      }
      100% {
        transform: translateY(0); /* End at the normal position */
        opacity: 1; /* Fully visible */
      }
    }
  }
}

#pane-hero {
  h1 {
    @include headerTextHero;
    margin: 0 0 0.1em;
    // animation-play-state: paused;
    position: relative;
    z-index: 25;
    img,
    svg {
      height: 1.15em;
      width: auto;
      display: block;
      max-width: 100%;
      margin: 0 auto;
      transition: transform 0.33s ease-in-out;
      animation: breathe 3s linear infinite;
      scale: 100%;
      // transform: translateY(calc(-50% - 50vh));
    }
    .branding-hide & {
      animation: 2s ease-in-out infinite spinner-hero-throb;
      img,
      svg {
        transform: translateY(0);
      }
    }
  }
  .container {
    > .row {
      padding: 21vh #{$gutter-page-outer};
    }
  }
}

.site-headline {
  @include siteHeadlineText;
  position: relative;
  span {
    position: relative;
  }
  img,
  svg {
    display: block;
    margin: 2em auto 0;
    filter: invert(1);
    &.scribble {
      height: 2.4em;
      width: 8em;
      margin: 0;
      top: -1em;
      left: -1.5em;
      filter: invert(1) saturate(2) brightness(0.7);
      opacity: 0.8;
    }
  }
  a {
    pointer-events: all;
    scroll-behavior: smooth;
  }

  .hero-chevron-down {
    animation: 2.925s ease-in-out infinite oscillate;
  }
}

@keyframes oscillate {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

#brand-tags {
  display: inline-block;
  margin: 0;
  overflow-x: hidden;
  overflow-y: visible;
  width: auto;
  max-width: 1200px;
  transition: max-width 250ms ease-out;
  margin-top: -0.2em;
  position: relative;
  padding-right: 0.125em;
  height: 1.2em;
  min-width: 1px;
  opacity: 0;
  @include brandTagsText;
  &,
  span {
    overflow: visible;
  }
  span {
    display: inline-block;
    position: relative;
    z-index: 2;
    &:after {
      content: "";
      border-bottom: 0.032em solid #f93c5a;
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 1.05em;
      @supports (-moz-appearance: none) {
        & {
          top: 0.925em;
        }
      }
      z-index: -1;
    }
  }
  &:after {
    content: "|";
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
    line-height: 1em;
    animation: blink 1s linear infinite;
    backface-visibility: hidden;
  }
}

@keyframes breathe {
  0% {
    scale: 100%;
  }
  50% {
    scale: 103%;
  }
  100% {
    scale: 100%;
  }
}
