.Home {
  height: 100vh; /* Full viewport height for each pane */
  width: 100%;
  scroll-snap-type: y mandatory; /* Enable vertical snapping */
  overflow-y: scroll; /* Allow scrolling within the container */
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */
  overflow-x: hidden;

  .HeroPane {
    height: 100vh; /* Each pane takes full viewport height */
  }

  .HeroPane,
  .ServicesPane,
  .pane {
    width: 100%;
    scroll-snap-align: start; /* Snap panes to the start of the viewport */
    scroll-margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .see-more-work {
    scroll-snap-align: center; /* Snap panes to the center of the viewport */
    scroll-margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.gradient-box {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%; /* Adjust based on your needs */
  height: 100vh; /* Adjust height as needed */
  background: linear-gradient(
    to top,
    /* Direction from bottom to top */ rgb(0, 0, 0),
    /* Solid at the bottom */ rgba(0, 0, 0, 0) 40%
      /* Transparent towards the center */
  );
  box-sizing: border-box; /* Ensure padding does not affect dimensions */
}
