.Home {
  height: 100vh; /* Full viewport height for each pane */
  width: 100vw;
  scroll-snap-type: y mandatory; /* Enable vertical snapping */
  overflow-y: scroll; /* Allow scrolling within the container */
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */

  .HeroPane {
    height: 100vh; /* Each pane takes full viewport height */
  }

  .HeroPane,
  .ServicesPane,
  .pane {
    width: 100%;
    scroll-snap-align: start; /* Snap panes to the start of the viewport */
    scroll-margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .see-more-work {
    height: 75vh; /* Each pane takes full viewport height */
    width: 100%;
    scroll-snap-align: center; /* Snap panes to the start of the viewport */
    scroll-margin: 0;
    display: flex;
    align-items: center;
  }
}
