.Clients {
  text-align: left;
  color: $black;
  background-color: white !important;
}

.client-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  margin-top: 10px;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 5.5rem;

  @media screen and (max-width: 1180px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 600px;
  }

  @media screen and (max-width: 950px) {
    max-width: 500px;
  }

  svg {
    align-items: center;
    text-align: center;
    path {
      width: 100%;
      object-fit: contain;
      justify-self: center;
    }
  }

  .rwj-logo {
    path {
      width: 75% !important;
    }
  }
}
