.Clients {
  h2 {
    font-weight: 400 !important;
    line-height: 1em !important;
  }
  text-align: left;
  color: $black;
  background-color: white !important;
}

.client-logos {
  display: grid;
  //grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  margin-top: 10px;
  row-gap: 3rem;
  column-gap: 5.5rem;

  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1250px;

  svg {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: .25rem;
    column-gap: 1rem;
    .logo-inner {
      svg {
        height: auto;
        max-width: 90%;
      }
    }
  }

  @media screen and (max-width: 950px) {
    row-gap: .25rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    max-width: 500px;
    margin: auto;
    .logo-inner {
      svg {
        max-width: 70%;
      }
    }
  }

  @media screen and (max-width: 467px) {
    row-gap: 1rem;
    .logo-inner {
      svg {
        max-width: 80%;
      }
    }
  }
}
