.Clients {
  background-color: white !important;
  color: $black;
  width: 100vw;
  padding: 0px 120px;
  scroll-snap-align: start;

  // .client-logos {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  //   grid-template-rows: repeat(3, 1fr); /* Create 3 equal rows */
  //   justify-items: center; /* Center the logos horizontally */
  //   align-items: center;
  //   margin-top: -2rem;
  //   gap:20px;

  //   .logo-item {
  //     object-fit: contain;
  //     width: 100%;
  //   }
  // }

  .client-logos {
    
  }
}
