.scribble {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  mix-blend-mode: hard-light;
  z-index: 2;
  width: auto;
  height: auto;
  //filter:saturate(1.5) brightness(1.2);
  opacity: 0.85;
}

.underline {
  position: relative;
  display: inline;
  margin-left: 2.5rem;

  svg {
    position: absolute;
    top: 70%; /* Adjust this to control the vertical positioning */
    left: -10%; /* Adjust this to control the horizontal positioning */
  }
}

.scribble-circle-word-container {
  //padding: 0px 120px !important;

  .scribble-word-container {
    position: relative;
  }

  .scribble-circled-word {
    position: relative;
    display: inline-block;

    .service-scribble {
      position: absolute;
      width: 160%;
      height: 200%;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      pointer-events: none;
    }
  }

  .meet-the-team-arrow {
    display: relative;
    margin-left: 2rem;
    .service-arrow {
      position: absolute;
      margin-top: -2rem;
      width: auto;
      height: auto;
    }
    .service-meet-the-team {
      position: absolute;
      margin-left: 4rem;
      margin-top: -5rem;
      width: 20%;
      height: auto;
    }
  }
}
