.see-more-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $chartreuse;

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      color: $dark;
      text-transform: uppercase;
      font-size: em(115);
      font-style: normal;
      font-weight: 400;
      line-height: 1em;
      padding-right: 1.5em;
      font-family: $fontAlt;
      letter-spacing: -3.45px;
    }
    .work-subheading {
      font-family: $fontSans;
      font-size: em(48);
      letter-spacing: -1.44px;
      line-height: 0%;
      color: $dark;
      span {
        color: $dark;
        transition: background-image 300ms;
        padding-bottom: 0.2em;
        background-image: url("../../assets/scribble-line-dark.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        text-decoration: none;
      }
    }
  }

  a {
    transform: rotate(-90deg);

    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }

    svg {
      animation-name: alternate;
      animation-duration: 0.6s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  @keyframes alternate {
    0% {
      transform: translate(0px, 5px);
    }
    100% {
      transform: translate(0px, -5px);
    }
  }
}
