.see-more-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  background-color: $chartreuse;

  .see-more-work-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      text-decoration: none;
    }
  }

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      color: $dark;
      text-transform: none;
      font-size: em(55);
      font-style: normal;
      font-weight: 400;
      line-height: 1em;
      padding-right: 1.5em;
      font-family: $fontSans;
      //letter-spacing: -3.45px;
    }
    .check-out-our-work-link {
      margin-left: 0;
      &:hover {
        text-decoration: none;
      }
      .work-subheading {
        font-family: $fontSans;
        font-size: em(40);
        letter-spacing: -1.44px;
        line-height: 50%;
        color: $dark;
        margin-left: 0;
        font-weight: 400;
      }
      svg {
        transition: 200ms ease-in-out;
      }
      .hidden {
        display: none;
      }
    }
  }

  .right-chevron-link {
    transform: rotate(-90deg);
    align-content: flex-end;

    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }

    svg {
      animation-name: alternate;
      animation-duration: 0.6s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  @keyframes alternate {
    0% {
      transform: translate(0px, 5px);
    }
    100% {
      transform: translate(0px, -5px);
    }
  }
}
