.TeamPage {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

.TeamPage{
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;

  .TeamPageContent {
    scroll-snap-align: start !important;
  }
}
