.WorkPage {
  height: 100vh; /* Full viewport height for each pane */
  width: 100%;
  scroll-snap-type: y mandatory; /* Enable vertical snapping */
  overflow-y: scroll; /* Allow scrolling within the container */
  overflow-x: hidden;
  scroll-behavior: smooth !important;

  .WorkPageHero {
    height: 50vh;
    background: $chartreuse;
    padding-bottom: 2rem;
    margin: 0 auto;
    scroll-snap-align: start;
    .work-page-title {
      color: $dark !important;
      text-align: center;
      font-size: 115px !important;
      font-style: normal;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      align-items: center;
      span svg {
        //display after replacing to gif
        display: none;
      }
    }
    .work-page-headline {
      padding: 1rem;
      height: 100%;
      .site-headline {
        margin-bottom: 3rem;
        div {
          margin-top: 10em;
        }
      }
      .hero-chevron-down {
        fill: white;
        animation: 2.925s ease-in-out infinite oscillate;
        scroll-behavior: smooth;
      }
      &.page-utility-center {
        left: auto;
        transform: unset;
      }
    }
  }

  .work-page-gallery {
    margin: em(60) auto;
    scroll-snap-align: start;
    max-width: 1200px;
    width: 90%;
    .work-page-gallery-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5em 20px;
      padding: em(60) 0;
      justify-content: center;

      .work-page-gallery-item {
        display: block;
        width: auto;
        pointer-events: none;

        a {
          pointer-events: all;
          &:hover {
            text-decoration: none;
          }
        }

        img,
        svg {
          border-radius: 20px;
          display: block;
          width: 100%;
          height: auto;
          transition: 300ms ease-out;
          &:hover {
            scale: 90%;
          }

          rect {
            width: 102%;
            height: 105%;
            aspect-ratio: 1 / 1;
          }
        }

        .work-page-gallery-item-headings {
          padding-top: em(20);
          h5 {
            color: $grayLight;
          }

          h3 {
            color: $black;
          }
        }
        &:nth-last-child(2),
        &:nth-last-child(1) {
          .work-page-gallery-item-headings {
            padding-bottom: 0;
          }
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      .work-page-gallery-grid {
        grid-template-columns: 1fr; // Switch to one column
        padding: em(30) em(15); // Adjust padding for smaller screens if needed
      }
    }
  }
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    .WorkPageHero {
      .work-page-title {
        font-size: 80px !important;
      }
      .work-page-headline {
        .site-headline {
          font-size: 20px !important;
          margin-top: 15em;
        }
      }
    }
  }
}

